.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  padding: 1em;
  width: 80%;
  box-shadow: #367397 0px 7px 29px 0px;
  transition: transform 0.2s linear;
}



.project-container:hover {
  transform: translateY(-7px);
}


.project-img {
  max-width: none !important;
  max-height: 150px !important;
  box-shadow: #6e6e6e 0px 7px 29px 0px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.icon {
  width: 33%;
}

.stack-names {
  font-size: small
}