.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;

}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu a h3 {
  padding: 1em;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.nav-menu a:link {
  text-decoration: none;
}

.nav-menu a:visited {
  text-decoration: none;
}


.nav-menu a:hover {
  text-decoration: none;
}


.nav-menu a:active {
  text-decoration: none;
}

.nav-menu a h3:hover {
  color: #64c5ff;
}

.theme-toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  box-shadow: none !important;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.theme-toggle:hover {
  color: #64c5ff;
}

.light {
  color: black;
}