body {
  background-color: #1a1d1e;
  opacity: 1;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #1a1d1e !important;
}